<h1><%= @stand.stand_name %></h1>

<a href="/stands">Go back</a>
<hr>
<dl>
  <dt>Map of <%= @stand.stand_name %></dt>
  <dd>
    <div>
      <div id="map" style='width: 800px; height: 400px;'></div>
    </div>

    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');

        var map = new google.maps.Map(mapDiv);

        var bounds = new google.maps.LatLngBounds();
        
        var infowindow = new google.maps.InfoWindow({
          content: "Click Content" 
        });
        
        var marker = new google.maps.Marker({
          position: {lat: <%= @stand.latitude %>, lng: <%= @stand.longitude %>}, 
          map: map,
          title: 'Hello World!',
          icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' 
        });
        
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

      bounds.extend(new google.maps.LatLng(<%= @stand.latitude.round(6) %>, <%= @stand.longitude.round(6) %>));

      map.fitBounds(bounds);
      };
      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("NEWMAP_KEY") %>&callback=initMap"
    async defer></script>
    
  </dd>
  <dt>Type of Stand</dt>
  <dd><%= @stand.stand_type.type_of_stand %></dd>
  <dt>Crops Planted</dt>
  <dd>
    <ul>
      <% @stand.crops.each do |a_crop| %>
        <li><%= a_crop.crop_type %></li>
      <% end %>
    </ul>
  </dd>
  <dt>Field Acreage</dt>
  <dd><%= @stand.acreage.acreage %></dd>
  <dt>Best Wind</dt>
  <dd><%= @stand.best_wind.wind_direction %></dd>
  <dt>Worst Wind</dt>
  <dd><%= @stand.worst_wind.wind_direction %></dd>
  <dt>Delete stand</dt>
  <dd>
    <a href="/delete_stand/<%= @stand.stand_id %>;">
      Delete this stand
    </a>
  </dd>

</dl>

<h3>Add a new crop to <%= @stand.stand_name %></h3>

<p><%= notice %></p>

<form action="/insert_new_crop">
  <label for="stand">Stand ID</label>
  <input id="stand" type="text" value="<%= @stand.stand_id %>" name="input_stand_id">

  <label for="crop">Crop</label>
  <input id="crop" type="text" name="query_crop">

  <button>Add crop</button>
</form>
