<h1><%= @stand.stand_name %></h1>

<div class="text_color">
  <a href="/stands">Go back</a>
</div>
<hr>

<div class="notice_1">
  <p><%= notice %></p>
</div>

<dl>
  <dt>
    <div class="text">
      Map of <%= @stand.stand_name %>:
    </div>
  </dt>
  <p></p>
  <dd>
    <div>
      <div id="map" style='width: 750px; height: 500px;'></div>
    </div>

    <script>
      function initMap() {
        var mapDiv = document.getElementById('map');

        var map = new google.maps.Map(mapDiv);

        var bounds = new google.maps.LatLngBounds();
        
        var infowindow = new google.maps.InfoWindow({
          content: "Click Content" 
        });
        
        var marker = new google.maps.Marker({
          position: {lat: <%= @stand.latitude %>, lng: <%= @stand.longitude %>}, 
          map: map,
          title: 'Hello World!',
          icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png' 
        });
        
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });

      bounds.extend(new google.maps.LatLng(<%= @stand.latitude.round(6) %>, <%= @stand.longitude.round(6) %>));

      map.fitBounds(bounds);
      };
      
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV.fetch("NEWMAP_KEY") %>&callback=initMap"
    async defer></script>
    
  </dd>
  <p></p>
  <dt>
    <div class="text">
      Type of Stand
    </div>
  </dt>
  <dd>
    <div class="text">
      <%= @stand.stand_type.type_of_stand %>
    </div>
  </dd>
  <p></p>
  <dt>
    <div class="text">
      Crops Planted
    </div>
  </dt>
  <dd>
    <ul>
      <% @stand.crops.each do |a_crop| %>
        <li>
          <div class="text_2">
            <%= a_crop.crop_type %>
          </div>
        </li>
      <% end %>
    </ul>
  </dd>
  <p></p>
  <dt>
    <div class="text">
      Field Acreage
    </div>
  </dt>
  <dd>
    <div class="text">
      <%= @stand.acreage.acreage %>
    </div>
  </dd>
  <p></p>
  <dt>
    <div class="text">
      Best Wind
    </div>
  </dt>
  <dd>
    <div class="text">
      <%= @stand.best_wind.wind_direction %>
    </div>
  </dd>
  <p></p>
  <dt>
    <div class="text">
      Worst Wind
    </div>
  </dt>
  <dd>
    <div class="text">
      <%= @stand.worst_wind.wind_direction %>
    </div>
  </dd>
  <p></p>
  <dt>
    <div class="text">
      Created At
    </div>
  </dt>
  <dd>
    <div class="text">
      <%= @stand.created_at %>
    </div>
  </dd>
  <p></p>
  <dt>
    <div class="text">
      Delete stand
    </div>
  </dt>
  <dd>
    <a href="/delete_stand/<%= @stand.stand_id %>;">
      <div class="text">
        Delete this stand
      </div>
    </a>
  </dd>

</dl>

<h3>Add a new crop to <%= @stand.stand_name %></h3>

<form action="/insert_new_crop">
  <label for="stand">Stand ID</label>
  <input id="stand" type="text" value="<%= @stand.stand_id %>" name="input_stand_id">

  <label for="crop">Crop</label>
  <input id="crop" type="text" name="query_crop">

  <button>
    <div class="button">
      Add crop
    </div>
  </button>
</form>
